.user {
    &-content {
        width: 1170px;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    &-container {
        width: 1170px;
        height: 500px;
        overflow-y: scroll;
        background: 1170px;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        &::-webkit-scrollbar {
            display: none;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }


    &-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 30px 0 30px;
        > p {
            font-size: 12px;
            color: #7F8C8D;
        }
    }

    &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 12px;
        border-bottom: 1px solid #DEDEDE;
        cursor: pointer;
        border-radius: 8px;

        &:hover {
            background: rgba(142,68,173,0.05);
        }
    }

    &-icon {
        background: #FFFFFF;
        border: 1px solid #8E44AD;
        width: 32px;
        text-align: center;
        height: 32px;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 8px;
    }

    &-list {
        list-style-type: none;
        padding: 0 20px;

        & > .user-item:last-child {
            border-bottom: 0;
        }

        &-left {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &-right {
            display: flex;
            flex-direction: row;

            &-edits {
                display: flex;
                flex-direction: row;
                margin: 0 30px;
            }
        }
        
    }


    &-name {
        margin-bottom: 0;
        font-size: 15px;
        color: #34495E;
        margin-left: 8px;
    }

    &-avatar {
        width: 50px;
        border-radius: 50%;
    }
}

.breadcrumb {
    display: flex;
    flex-direction: column;
    background: #DEDEDE;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
    padding: 6px 20px;

    &-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-link {
        cursor: pointer;
        text-decoration: none;
        font-size: 12px;
        color: #8E44AD;
    }

    &-title {
        font-size: 30px;
        color: #34495E;
    }

    &-btn {
        cursor: pointer;
        background: #8E44AD;
        border: none;
        color: #FFFFFF;
        font-size: 15px;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
        padding: 9px 19px;
        border-radius: 20px;
    }
}


.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;

    > p {
        font-size: 12px;
        color: #8E44AD;
        margin: 0 0 3px 0;
    }
}
