<nav class="navbar">
    <div>
        <img class="navbar-logo" src="assets/images/header/Logo@3x.png" alt="logo">
    </div>

    <div>
        <ul class="navbar-list">
            <li><a routerLink="/user">HOME</a></li>
            <li><a>ABOUT</a></li>
            <li><a>CONTACT</a></li>
            <li *ngIf="!isAuth">
                <a routerLink="/login" class="login-btn">LOGIN</a>
            </li>

            <li (click)="logout()" *ngIf="isAuth">
                <a class="login-btn">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>
