.navbar {
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //margin-bottom: 30px;
    padding: 17px 20px;
    &-logo {
        width: 100px;
    }

    &-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        padding-left: 2rem;
        margin-bottom: 6px;
        li, a {
            cursor: pointer;
            margin: 0 8px 0 8px;
            text-align: center;
        }

        a {
            text-decoration: none;
            font-size: 15px;
            color: #34495E;
        }

        .login-btn {
            background: #8E44AD;
            border: none;
            color: #FFFFFF;
            font-size: 15px;
            box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
            padding: 9px 19px;
            border-radius: 20px;
            text-decoration: none;
        }

    }
}
