<div class="user-card">

    <div (click)="onClose()" class="user-card-close">
        <img src="assets/images/user-list/icons8-delete_sign.png" alt="close">
    </div>

    <div>
        <img class="user-card-avatar" [src]="user?.avatar" [alt]="user?.first_name">
    </div>

    <div>
        <p class="user-card-name">{{user?.first_name + ' ' + user?.last_name}}</p>
    </div>

    <div class="user-card-actions">
        <button (click)="onUpdate(user)" class="user-card-edit"><img src="assets/images/user-list/icons8-edit%20copy%203.png" alt="edit">Edit</button>
        <button (click)="onDelete(user)" class="user-card-delete"> <img src="assets/images/user-list/icons8-delete%20copy%203.png" alt="delete"> Delete</button>
    </div>
</div>
